.about_me {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  color: #f2a900;
  display: flex;
  justify-content: center;
}

.skills {
  flex-direction: column;
  width: 37%;
}

.introduction {
  flex-direction: column;
  width: 37%;
}
