.item1,
.item2,
.item3,
.item4 {
  margin-right: 40px;
  text-decoration: none;
  color: #fdfdfd;
  font-weight: 500;
  background-color: #84a3ff;
  font-size: 20px;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
  border-bottom: 1px solid #dcdcdc;
  color: #dcdcdc;
}

.navbar-orientation {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.navbar {
  background-color: #84a3ff;
  border: 2px solid #84a3ff;
  border-radius: 10px;
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
}
