.item1, .item2, .item3, .item4 {
  margin-right: 40px;
  text-decoration: none;
  color: #FDFDFD;
  font-size: 19px;
  font-weight: 500;
  background-color: #84A3FF;
  font-size: 20px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover {
    border-bottom: 1px solid #DCDCDC;
    color: #DCDCDC;
}

body, main {
    padding: 0;
    margin: 0;
    background-color: #FBFBFB;
}

.navbar-orientation {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.navbar {
  background-color: #84A3FF;
  border: 2px solid #84A3FF;
  border-radius: 10px;
  padding: 10px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
}

.container {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  color: #F2A900;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.image {
  flex: 1;
  text-align: left;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
