.item1, .item2, .item3 {
  margin-right: 40px;
  text-decoration: none;
  color: #FDFDFD;
  font-size: 19px;
  font-weight: 500;
  background-color: #84A3FF;
  font-size: 20px;
}

.item1:hover, .item2:hover, .item3:hover {
	border-bottom: 1px solid #DCDCDC;
	color: #DCDCDC;
}

body, main {
	padding: 0;
	margin: 0;
	background-color: #FBFBFB;
}

.navbar-orientation {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}

.navbar {
	background-color: #84A3FF;
	border: 2px solid #84A3FF;
	border-radius: 10px;
	padding: 10px;
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 18px;
}

.container {
	display: flex;
	margin-top: 30px;
	justify-content: center;
  text-align: left;
}

.greeting {
	width: 400px;
	color: #F2A900;
}

.info {
	width: 400px;
	color: #F2A900;
}

.text {
	flex-direction: column;
  font-family: "Open Sans";
  font-weight: 500;
	font-size: 18px;
	margin-top: 70px;
	color: #F2A900;
}

.about_me {
	  font-family: "Open Sans";
	  font-weight: 500;
		font-size: 18px;
		color: #F2A900;
		display: flex;
		justify-content: center;
}

.container2 {
		display: flex;
		justify-content: center;
}

.port {
	  font-family: "Open Sans";
	 	font-weight: 500;
		font-size: 18px;
		color: #3383F5;
		width: 74%;
		background-color: #E9EAEC;
		border: 10px solid #E9EAEC;
		border-radius: 10px;
}

.skills {
	flex-direction: column;
	width: 37%;
}

.introduction {
	flex-direction: column;
	width: 37%;
}

.contacts {
	text-align: center;
}

.icon1, .icon2, .icon3 {
	margin: 2%;
}

.contacts {
		margin-top: 2%;
}