.Greeting_container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  text-align: left;
}

.greeting {
  width: 400px;
  color: #f2a900;
}

.info {
  width: 400px;
  color: #f2a900;
}

.text {
  flex-direction: column;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  margin-top: 70px;
  color: #f2a900;
}
